<a href='/' class='title'><span>Wiki Map</span></a>
<% if (username) { %>
<a class='logout btn'>Logout</a>
<a href='/profile' class='profile btn'>Profile</a>
<span class='logged-in'>Logged in as: <%= username %></span>
<% } else { %>
<a class='login btn'>Login</a>
<a class='register btn'>Register</a>
<% } %>
