<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wiki Map</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">
  <link rel="stylesheet" href="/styles/layout.css">

</head>

<body>
  <nav class='nav-bar'>
    <% include partials/_header.ejs %>
  </nav>

  <main class='container'>
    <span>Error<%= error.status %>: <%= error.message %></span>

  </main>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/login-buttons.js"></script>
</body>
</html>
