<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wiki Map</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
 integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
 crossorigin="">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
  <link rel="stylesheet" href="/vendor/border-box.css">
  <link rel="stylesheet" href="/styles/map.css">
</head>

<body>
  <nav class='nav-bar'>
    <% include partials/_header.ejs %>
  </nav>

  <main class='container' data-list-id='<%= list_id %>'>
    <h1><%= list %></h1>
    <% if (private === true) { %>
    <form class='access'>
      <label for='access'>Give access</label>
      <input type="text" name="access" id="access">
      <input type="submit" name="Submit">
    </form>
    <% } %>

    <a href='/history/<%=list_id%>'>Edit History</a>
    <div id="map">

    </div>
  </main>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin=""></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/login-buttons.js"></script>
  <script src="/scripts/map.js"></script>
</body>
</html>
